.selected {
  border: 3px solid rgb(152, 207, 207);
  color: rgb(152, 207, 207);
}

button {
  background-color: darkslategray;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid white;
  margin: 5px;
  color: white;
}
